@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');


header {
    background: #2d6d2d;
    padding: 2%;
    width: 95%;

     }

 .container {
      width: 70%;
      height: 100%;
      margin: 0 auto;
      background-color: white;
      padding: 50px;
  }
    
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
body {
	margin: 0;
	background: rgb(94, 82, 68);
	font-family: 'Work Sans', sans-serif;
    font-weight: 800; }
    

      
h1{
    color: blanchedalmond;
    font-family: 'Walter Turncoat';
}

p{
 color: rgb(0, 0, 0);

}
h2 {
    color: purple;
    text-decoration: underline;
    font-family: Ariel

}

p 
{font-size: 20px;}




.logo {
  display: block;
  margin-right: auto;
  
  width: 5%;

 }

 nav {
    float: right;
    padding: 0px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
  nav li {
    display: inline-block;
    margin-right: 170px;
    padding-top: 0px;
  
    position: relative;
  }
  
  nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  nav a:hover {
    color: #000;
  }
  
u {
  font-family: 'Notable', sans-serif;
}
li a:hover:not(.active) {
  background-color: rgb(238, 187, 245);
  color: black;
}
        
